@model IEnumerable<Contact>
@{
    ViewBag.Title = "Contact Manager";
}

<a asp-controller="Contact" asp-action="Add">Add Contact</a>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
       @foreach(Contact contact in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Contact" asp-action="Details" asp-route-id="@contact.ContactId" 
                       asp-route-slug="@contact.slug">@contact.Firstname</a>
                </td>
                <td>
                    <a asp-controller="Contact" asp-action="Details" asp-route-id="@contact.ContactId"
                       asp-route-slug="@contact.slug">@contact.Lastname</a>
                </td>
                <td>@contact.Phone</td>
                <td>@contact.Email</td>
                <td>@contact.Category</td>
            </tr>
        }
    </tbody>
</table>